*/env/
*__pycache__

slackbot_settings.py
compose_up.sh
docker-compose.yml
create_tables.sql
ghostdriver.log
package-lock.json
tags
nohup.out
sample_db.py
insert_data.py
usage.txt
office_info.py*
user_info.json

plugins/const.py
plugins/screen.png
